My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e4420860-f462-441c-984e-7f9e151d0d40",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "506aef7f-80f1-4840-8da6-9a9548359510",
      "name": "HTTP Request",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        608,
        16
      ],
      "id": "184e1915-aa32-4923-bc3e-65c82366a307",
      "name": "XML"
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { url: \"https://feeds.bloomberg.com/markets/news.rss\", source: \"Bloomberg\" } },\n  { json: { url: \"https://feeds.reuters.com/reuters/businessNews\", source: \"Reuters\" } },\n  { json: { url: \"https://finance.yahoo.com/news/rssindex\", source: \"Yahoo Finance\" } }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "f37894a0-b5ee-40d9-975a-3dc341ac2b46",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst articles = [];\n\nfor (const item of items) {\n  const source = item.json.source || \"Unknown\";\n  \n  // navigate the already-parsed JSON structure\n  const channel = item.json.rss?.channel;\n  if (!channel) continue;\n\n  const feedItems = channel.item || [];\n  const list = Array.isArray(feedItems) ? feedItems : [feedItems];\n\n  for (const a of list) {\n    const title = a.title?._ || a.title || \"\";\n    const desc  = a.description?._ || a.description || \"\";\n    const link  = a.link || \"\";\n    const date  = a.pubDate || \"\";\n\n    // extract tickers\n    let ticker = \"\";\n    if (a.category) {\n      const cats = Array.isArray(a.category) ? a.category : [a.category];\n      ticker = cats.map(c => c._ || c).join(\", \");\n    }\n\n    if (!title) continue;\n\n    articles.push({\n      json: {\n        source,\n        title:       title.trim(),\n        description: desc.trim().slice(0, 300),\n        link:        link.trim(),\n        pubDate:     date.trim(),\n        ticker,\n      }\n    });\n  }\n}\n\nif (articles.length === 0) {\n  return [{ json: { error: \"no articles found\", sample: JSON.stringify($input.all()[0].json).slice(0, 500) } }];\n}\n\nreturn articles;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        16
      ],
      "id": "a0e02774-6a68-4157-b428-6b097e41ee60",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const articles = $input.all().slice(0, 15);\n\nlet articleText = \"\";\narticles.forEach((a, i) => {\n  articleText += `${i + 1}. [${a.json.source}] ${a.json.title}\\n   ${a.json.description}\\n\\n`;\n});\n\nconst today = new Date().toLocaleDateString(\"en-US\", {\n  weekday: \"long\", year: \"numeric\", month: \"long\", day: \"numeric\"\n});\n\nconst prompt = `You are a sharp financial analyst. Analyze today's top financial news.\n\nTODAY'S ARTICLES:\n${articleText}\n\nReturn ONLY valid JSON, no markdown, no extra text:\n{\n  \"date\": \"${today}\",\n  \"overall_sentiment\": \"Bullish or Bearish or Neutral\",\n  \"sentiment_reason\": \"one sentence explaining why\",\n  \"top_themes\": [\n    {\"theme\": \"theme name\", \"summary\": \"2 sentence explanation\", \"articles\": [\"title1\", \"title2\"]},\n    {\"theme\": \"theme name\", \"summary\": \"2 sentence explanation\", \"articles\": [\"title1\"]},\n    {\"theme\": \"theme name\", \"summary\": \"2 sentence explanation\", \"articles\": [\"title1\"]}\n  ],\n  \"key_tickers\": [\"TICKER1\", \"TICKER2\", \"TICKER3\", \"TICKER4\", \"TICKER5\"],\n  \"market_summary\": \"3-4 sentence paragraph of what investors need to know today\",\n  \"watch_today\": [\"item 1\", \"item 2\", \"item 3\"],\n  \"contrarian_take\": \"one provocative contrarian perspective on today's news\"\n}`;\n\nreturn [{ json: { prompt, articleCount: articles.length, date: today } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        16
      ],
      "id": "675413fc-3142-445e-b366-31a610d07284",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const prompt = $input.all()[0].json.prompt;\n\nconst response = await this.helpers.request({\n  method: 'POST',\n  url: 'https://api.groq.com/openai/v1/chat/completions',\n  headers: {\n    'Authorization': 'Bearer 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',\n    'Content-Type': 'application/json'\n  },\n  body: {\n    model: 'llama-3.1-8b-instant',\n    temperature: 0.3,\n    max_tokens: 1500,\n    messages: [{ role: 'user', content: prompt }]\n  },\n  json: true\n});\n\nreturn [{ json: response }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        16
      ],
      "id": "1fa43b0d-82f0-4a34-b31c-37dd8a1fcf0d",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.all()[0].json.choices[0].message.content;\nconst cleaned = raw.replace(/```json|```/g, \"\").trim();\nconst data = JSON.parse(cleaned);\n\nconst sentimentColors = {\n  Bullish: { bg: \"#f0fdf4\", color: \"#16a34a\", icon: \"▲\" },\n  Bearish: { bg: \"#fef2f2\", color: \"#dc2626\", icon: \"▼\" },\n  Neutral: { bg: \"#fffbeb\", color: \"#d97706\", icon: \"●\" },\n};\nconst s = sentimentColors[data.overall_sentiment] || sentimentColors.Neutral;\n\nconst themesHtml = (data.top_themes || []).map(t => `\n  <div style=\"background:#f8fafc;border-radius:10px;padding:16px;margin-bottom:10px;border-left:3px solid #6366f1\">\n    <div style=\"font-weight:600;color:#1e293b;font-size:15px;margin-bottom:6px\">${t.theme}</div>\n    <div style=\"color:#475569;font-size:13px;line-height:1.6;margin-bottom:8px\">${t.summary}</div>\n    <div style=\"color:#94a3b8;font-size:12px\">${t.articles.join(\" · \")}</div>\n  </div>`).join(\"\");\n\nconst tickersHtml = (data.key_tickers || []).map(t =>\n  `<span style=\"display:inline-block;background:#1e293b;color:#e2e8f0;padding:4px 12px;border-radius:999px;font-size:12px;font-weight:600;margin:3px\">${t}</span>`\n).join(\"\");\n\nconst watchHtml = (data.watch_today || []).map(w =>\n  `<li style=\"padding:7px 0;color:#475569;font-size:13px;border-bottom:1px solid #f1f5f9\">${w}</li>`\n).join(\"\");\n\nconst html = `<!DOCTYPE html>\n<html>\n<body style=\"margin:0;padding:0;background:#f1f5f9;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif\">\n<div style=\"max-width:620px;margin:0 auto;padding:24px 16px\">\n\n  <div style=\"background:linear-gradient(135deg,#0f172a,#1e1b4b);border-radius:16px;padding:28px 32px;margin-bottom:16px\">\n    <div style=\"color:#818cf8;font-size:11px;font-weight:600;letter-spacing:2px\">AI FINANCIAL DIGEST</div>\n    <div style=\"color:#ffffff;font-size:22px;font-weight:700;margin-top:6px\">Morning Markets Brief</div>\n    <div style=\"color:#94a3b8;font-size:13px;margin-top:4px\">${data.date} · Bloomberg · Reuters · Yahoo Finance</div>\n  </div>\n\n  <div style=\"background:${s.bg};border-radius:12px;padding:16px 20px;margin-bottom:16px;border:1px solid ${s.color}40\">\n    <div style=\"font-weight:700;color:${s.color};font-size:16px\">${s.icon} ${data.overall_sentiment} Sentiment</div>\n    <div style=\"color:#475569;font-size:13px;margin-top:4px\">${data.sentiment_reason}</div>\n  </div>\n\n  <div style=\"background:#ffffff;border-radius:12px;padding:20px 24px;margin-bottom:16px;border:1px solid #e2e8f0\">\n    <div style=\"font-size:11px;font-weight:600;color:#6366f1;letter-spacing:1px;margin-bottom:10px\">MARKET SUMMARY</div>\n    <div style=\"color:#334155;font-size:14px;line-height:1.7\">${data.market_summary}</div>\n  </div>\n\n  <div style=\"background:#ffffff;border-radius:12px;padding:20px 24px;margin-bottom:16px;border:1px solid #e2e8f0\">\n    <div style=\"font-size:11px;font-weight:600;color:#6366f1;letter-spacing:1px;margin-bottom:12px\">TICKERS IN THE NEWS</div>\n    <div>${tickersHtml}</div>\n  </div>\n\n  <div style=\"background:#ffffff;border-radius:12px;padding:20px 24px;margin-bottom:16px;border:1px solid #e2e8f0\">\n    <div style=\"font-size:11px;font-weight:600;color:#6366f1;letter-spacing:1px;margin-bottom:12px\">TOP INVESTMENT THEMES</div>\n    ${themesHtml}\n  </div>\n\n  <div style=\"background:#ffffff;border-radius:12px;padding:20px 24px;margin-bottom:16px;border:1px solid #e2e8f0\">\n    <div style=\"font-size:11px;font-weight:600;color:#6366f1;letter-spacing:1px;margin-bottom:12px\">WATCH TODAY</div>\n    <ul style=\"margin:0;padding:0;list-style:none\">${watchHtml}</ul>\n  </div>\n\n  <div style=\"background:#1e1b4b;border-radius:12px;padding:20px 24px;margin-bottom:16px\">\n    <div style=\"font-size:11px;font-weight:600;color:#818cf8;letter-spacing:1px;margin-bottom:10px\">CONTRARIAN TAKE</div>\n    <div style=\"color:#e2e8f0;font-size:14px;line-height:1.7;font-style:italic\">\"${data.contrarian_take}\"</div>\n  </div>\n\n  <div style=\"text-align:center;color:#94a3b8;font-size:11px;padding:16px 0\">\n    Powered by Groq + Llama 3.1 · Runs every morning at 6 AM · Bloomberg · Reuters · Yahoo Finance\n  </div>\n\n</div>\n</body>\n</html>`;\n\nreturn [{ json: {\n  html,\n  subject: `${s.icon} Morning Markets Brief — ${data.date} | ${data.overall_sentiment}`,\n  sentiment: data.overall_sentiment\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        16
      ],
      "id": "7541fb97-73d8-498f-ac8e-a60be152c37c",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "fromEmail": "divyaaiworkflow@gmail.com",
        "toEmail": "divyamjpdam123@gmail.com",
        "subject": "=={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1712,
        16
      ],
      "id": "29949855-a3a6-4648-b9f9-7fe0d320239f",
      "name": "Send an Email",
      "webhookId": "8c1b4f23-9ec7-40b5-81a0-71c6a036023d",
      "credentials": {
        "smtp": {
          "id": "iRUCNIpSJuX2DtoI",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Send an Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6879578c-4b64-462d-ae75-154466febf02",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7c3c8dbd20e42f5c68f8a671a63b63c45a925607f099c409f544872c0b4aa431"
  },
  "id": "aH2cx1KwYlHyv48L",
  "tags": []
}